body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    max-width: 1000px;
    line-height: 1.4;
}
table {
    border-collapse: collapse;
}
td,
th {
    border: 1px solid grey;
    padding: 10px;
    vertical-align: top;
}

.row__points {
    width: 50px;
    cursor: pointer;
}
.row__points:hover {
    outline: 1px solid #060;
    background: #EEC;
}
._selected {
    background: #EEC;
}
button {
    font-size: 16px;
    padding: 5px 20px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    background: #666;
    color: #FFF;
    border: none;
    line-height: 2em;
    border-radius: 5px
}
